@use 'base/mixins' as m;
@use 'base/variables' as v;

.barra {
    background-color: v.$secundario;
    &__contenido{
        @include m.contenedor;
        display: flex;
        flex-direction: column;
        @include m.desktop {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__logo{
        @include m.logo;
        @include m.texto-fluido(2rem, 3rem);
    }
}