 @use 'base/variables' as v;
 @use 'base/mixins' as m;

 .header {
     min-height: 60rem;
     background-image: url(../img/logo.png), url(../img/logo.png), linear-gradient(to right, rgba(v.$negro, 1), rgba(v.$negro, .5) ), image-set( url(../img/titulo-3.avif)1x, url(../img/titulo-3.webp) 1x, url(../img/titulo-3.jpg)1x );
     background-repeat: no-repeat;
     background-size: 150px, 150px, cover, cover;
     background-position: top left, bottom right, center center, center center;

    &__contenedor {
        @include m.contenedor;
    }
    &__navegacion {
        padding: 5rem;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        @include m.tablet {
            justify-content: flex-end;
        }
    }
    &__enlace {

    @include m.enlace;
    }
    &__contenido {
        padding-top: 10rem;
        @include m.tablet {
            padding-top:  5rem;
        }
    }
    &__logo {
        @include m.texto-fluido(2rem, 8rem);
        @include m.texto-degradado(v.$amarillo, v.$azul);
        text-align: center;
        @include m.tablet {
            text-align: left;
            display: inline-block;

        }
    }
    &__texto {
        font-size: 3rem;
        font-weight: v.$bold;
        color: v.$blanco;
        margin: 2rem 0;
        text-align: center;
        text-transform: uppercase;
        @include m.tablet {
            text-align: left;
           
        }
        &--modalidad {
            font-size: 2rem;
        }
    }
 }