
@use 'base/mixins' as m;
@use 'base/variables' as v;

.peso {

    &__descripcion{
        color: v.$azul;
        font-size: 1rem;
       align-content: flex-start;
      
       }
    &__texto{
        text-align: center;
        font-weight: v.$bold;
        color: v.$verde;
    }
    
    &__grid {
        @include m.contenedor;
        @include m.grid(1, 5rem);
        @include m.tablet{
            @include m.grid (2, 15rem);
        }
    
    }
    &__opcion{
      display:flex;
        justify-content: center;
        align-items: center;
        gap: 1.8rem;
        margin-bottom: 2rem;
        margin-top: 2.2rem;
    }
    input[type="radio"]{
        accent-color: v.$verde;
        width: 1.4rem;
        height: 1.4rem;
    }
    &__boton{
        border: none;
        width: 100%;
        background-color: inherit;
        cursor: pointer;
        margin-top: 5rem;
        color: v.$secundario;
        justify-content: center;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    &__boton:hover {
        background-color: v.$secundario;
        color: white;
    }

   
}