
@use 'base/mixins' as m;
@use 'base/variables' as v;

.peso {

    &__descripcion{
        color: v.$azul;
        font-size: 1rem;
       align-content: flex-start;
      
       }
    &__texto{
        text-align: center;
        font-weight: v.$bold;
        color: v.$verde;
    }

    &__grid {
        
        @include m.contenedor;
        
        @include m.grid(1, 3rem);
        @include m.tablet{
            @include m.grid (2, 15rem);
        
        }
      
    }
    &__opcion{
      display: block;
      margin-bottom: 2rem;
      margin-top: 2rem;
      
    }
    &__boton{
        display: block;
        margin-top: 5rem;
        
        justify-content: center;
    }



  
   
}