
@use 'base/mixins' as m;
@use 'base/variables' as v;

.peso {

    &__descripcion{
     color: v.$azul;
     font-size: 1rem;
    }

    &__grid {
        @include m.contenedor;
        @include m.grid(1, 3rem);
        @include m.tablet{
            @include m.grid (2, 30rem);
            
        }
        &__texto{
          line-height: 3;
        }
    }
}